__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
env/
*.jou
*.log
*.pb
*.str
*.dir/
xsim.dir/
xvlog.pb
xsim.pb
*.vdi
*.vpp
*.exe
*.out
*.dump
*.vcd
.Xil/
*.runs/
*.srcs/
*.hw/
*.sim/
*.ip_user_files/
*.cache/
*.bit
*.bin
*.mcs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
